.booking-history__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    border-radius: 10px;
    background-color: #0a9af2;
    /* margin-top: calc(var(--header-height) + 24px); */
}
.booking-history-title {
    font-size: 1.8rem;
    font-weight: 600;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.booking-history-title span {
    display: inline-block;
}
.history-table {
    margin-top: 20px;
    width: 100%;
    font-size: 1.6rem;
    border-collapse: collapse;
}
.history-table th,
.history-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
.history-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}
.rating-btn {
    padding: 6px 12px;
    /* background-color: #ff5e1f; */
    border: none;
    border-radius: 4px;
    font-weight: bold;
}
.rating-btn.active {
    color: white;
    background-color: #ff5e1f;
    cursor: pointer;
}
.rating-btn.reviewed {
    color: var(--success-color);
    cursor: default;
    background-color: transparent;
}
.rating-btn.active:hover {
    background-color: #ff5e1f;
    filter: brightness(80%);
}