.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    display: none;
    animation: fadeIn ease-in 0.3s;
}
.modal.active {
    display: flex;
}
.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
}

.modal__body {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

#form-sign-in {
    display: none;
}

#form-sign-up {
    display: none;
}

.auth-form__container {
    padding: 0 32px;
}

.auth-form__header {
    margin-bottom: 40px;
}

.auth-form {
    width: 500px;
    background-color: var(--ivoryWhite-color);
    border-radius: 5px;
    animation: scaleUp ease-out 0.125s;
}
.auth-form__header-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    line-height: 3rem;
    font-weight: bold;
    margin: 44px 0 22px 0;
    color: var(--navyBlue-color);
}
.auth-form__header-description {
    font-size: 1.6rem;
    line-height: 1.6rem;
    color: var(--text-gray-color);
    text-align: center;
}

.auth-form__form {
    display: flex;
    flex-direction: column;
}

.form-group {
    position: relative;
    font-size: 1.6rem;
    
}

.form-group label {
    position: absolute;
    top: 14px;
    left: 14px;
    font-size: 1.6rem;
    color: var(--text-gray-color);
    transition: all 0.2s ease;
}


.form-input {
    width: 100%;
    height: 43px;
    padding: 0 10px;
    border-radius: 10px;
    border: 1px solid var(--lightGray-color);
    background-color: var(--ivoryWhite-color);
}

.form-group.invalid .form-input {
    outline: 2px solid var(--error-color);
    background-color: rgba(251, 0, 0,0.25);
    border-color: rgba(251, 0, 0,0.25);
}
.form-group.invalid label {
    color: var(--navyBlue-color);
}

.form-error  {
    display: block;
    margin-bottom: 22px;
    margin-top: 5px;
    padding-left: 5px;
    font-size: 1.2rem;
    color:  var(--error-color);
}

.form-input:focus {
    outline: 2px solid var(--navyBlue-color);
}

.form-input:focus + label,
.form-input:not(:placeholder-shown) + label {
    top: -8px;
    left: 20px;
    color: var(--navyBlue-color);
    background-color: var(--ivoryWhite-color);
    padding: 0 4px;
}

.auth-form__form-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem;
    color: var(--text-gray-color);
    margin-bottom: 30px;
}

.fogot-password {
    text-decoration: none;
    color: var(--navyBlue-color);
}

.remember-wrapper {
    cursor: pointer;
}

.checkbox-input {
    accent-color: var(--navyBlue-color);
}

.fogot-password:hover {
    filter: brightness(50%);
}

.confirm-btn {
    height: 43px;
    border-radius: 10px;
    background-color: var(--navyBlue-color);
    border: none;
}
.confirm-btn:hover {
    cursor: pointer;
    filter: brightness(80%);
}
.confirm-btn-text {
    color: var(--ivoryWhite-color);
    font-size: 1.6rem;
    font-weight: bold;
}
.confirm-btn-loading {
    display: none;
    margin: auto;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 5px solid var(--ivoryWhite-color);
    border-color: var(--ivoryWhite-color) transparent transparent transparent;
    animation: spinner linear 1s infinite;
}

.auth-form__footer {
    font-size: 1.6rem;
    text-align: center;
    margin: 30px 0 36px 0;
}
.auth-form__footer p {
    color: var(--text-gray-color);
}
.auth-form__footer span {
    text-decoration: none;
    color: var(--navyBlue-color);
    cursor: pointer;
}
.show-room {
    display: none;
    width: 1000px;
    height: 600px;
    border-radius: 10px;
    overflow: hidden;
}
.show-room.show {
    display: block;
}
.show-room_head {
    height: 50px;
    background-color: var(--ivoryWhite-color);
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.show-room__detail{
    display: flex; 
    width: 1000px;
    height: 550px;
}
.show-room__id {
    font-size: 2rem;
    font-weight: bold;
    padding-left: 20px;
}
.show-room_head {
    border-bottom: 1px solid #ccc;
}
.show-room__exit {
    margin: auto 20px auto auto;
    font-size: 2rem;
    color: #ccc;
    cursor: pointer;
}
.show-room__detail-img {
    height: 550px;
    width: 700px;
    background-color: white;
}
.show-room__detail-info {
    display: flex;
    flex-direction: column;
}
.show-room__detail-info-wrap {
    display: flex;
    flex-direction: column;
    height: 550px;
    width: 300px;
    padding: 10px;
    background-color: var(--ivoryWhite-color);
}

.show-room__detail-genaral-head,
.show-room__detail-services-head,
.show-room__detail-description-head {
    font-size: 1.4rem;
    font-weight: bold;
}
.show-room__detail-genaral-body ul,
.show-room__detail-services-body ul,
.show-room__detail-description-body ul {
    padding-left: 0;
    margin: 0;
    font-size: 1.4rem;
    list-style: none;
    padding-left: 10px;
    margin: 10px 0;
}

.show-room__detail-genaral-body li,
.show-room__detail-services-body li,
.show-room__detail-description-body li {
    margin: 5px 0;
} 

.show-room-detail-line {
    border: 1px solid #ccc;
    margin: 10px 0;
}


.choice-room {
    margin-top: auto;
    padding: 20px 0 10px 0;
    background-color: white;
    border-top: 1px solid #ccc;
    box-shadow: 2px 5px rgba(3, 18, 26, 0.15);
}
.choice-room__price {
    display: flex;
    padding-left: 10px;
}
.choice-room__price div:first-child {
    color: #ff5e1f;
    font-size: 1.8rem;
    font-weight: bold;
}
.choice-room__button {
    padding: 10px;
}
.choice-room__button div {
    font-size: 2rem;
    line-height: 4rem;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: #0a9af2;
    border-radius: 10px;
}
.choice-room__button.active div {
    background-color: #00FF00;
}
.choice-room__button:hover {
    cursor: pointer;
    filter: brightness(80%);
}

.show__notification {
    display: none;
}
.show__notification.show {
    display: block;
}
.show__notification.success {
    color: var(--success-color);
}
.show__notification.warning {
    color: var(--warning-color);
}
.show__notification.error {
    color: var(--error-color);
}
.show__notification-wrap {
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    width: 400px;
}
.show__notification-head {
    margin: 20px;
}
.show__notification-icon {
    font-size: 8rem;
    text-align: center;
    margin-bottom: 20px;
}
.show__notification-title {
    text-align: center;
    font-size: 2.2rem;
    font-weight: bold;
    color: var(--navyBlue-color);
}
.show__notification-body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto auto 20px auto;
}
.show__notification-text {
    max-width: 300px;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2rem;
    color: #6c6c6c;
}
.show__notification-footer {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.show__notification-previous-button,
.show__notification-next-button {
    color: white;
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 4.3rem;
    min-width: 160px;
    text-align: center;
}
.show__notification-next-button,
.show__notification-previous-button {
    display: none;
}
.show__notification-icon i{
    display: none;
}
.show__notification.success .success__icon {
    display: inline-block;
}

.show__notification.warning .warning__icon {
    display: inline-block;
}

.show__notification.error .error__icon {
    display: inline-block;
}
.show__notification.success .show__notification-next-button {
    background-color: var(--success-color);
}
.show__notification.warning .show__notification-next-button {
    background-color: var(--warning-color);
}
.show__notification.error .show__notification-next-button {
    background-color: var(--error-color);
}

.show__write-review {
    display: none;
    background-color: var(--ivoryWhite-color);
    border-radius: 10px;
    width: 600px;
    position: absolute;
    justify-content: center;
    align-items: center;
    animation: fadeIn ease-in 0.3s;
    padding: 40px;
}
.show__write-review.active {
    display: block;
}
.write-review__head {
    text-align: center;
    font-size: 2.2rem;
    font-weight: bold;
    color: var(--navyBlue-color);
    margin-bottom: 40px;
}
.write-review__star {
    display: flex;
    gap: 20px;
    text-align: center;
    justify-content: center;
    font-size: 2.2rem;
    color: var(--text-gray-color);
    margin-bottom: 40px;
}
.write-review__star i {
    cursor: pointer;
}
#review {
    width: 100%;
    border-radius: 10px;
    height: 150px;
    border: 2px solid var(--lightGray-color);
    background-color: var(--ivoryWhite-color);
    padding: 10px;
    font-size: 1.6rem;
    resize: none;
}
#review:focus {
    outline: none;
    border-color: var(--navyBlue-color);
}

.write-review__footer {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 20px;
}
.write-review__submit-button,
.write-review__cancel-button {
    padding: 10px 20px;
    font-size: 1.6rem;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    flex: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.write-review__cancel-button {
    background-color: #ff5e1f;
}
.write-review__text-error {
    display: none;
    color: var(--error-color);
    margin-left: 10px;
    font-size: 1.2rem;
}
