/* .setting {
    margin-top: calc(var(--header-height) + 24px);
} */
.profile {
    padding: 20px 150px;
    background-color: white;
    border-radius: 20px;
}
.profile__title {
    text-align: center;
    font-size: 2.4rem;
    font-weight: bold;
    color: var(--navyBlue-color);
    margin-bottom: 20px;
}
.profile__wrap {
    border: 1px solid var(--lightGray-color);
    border-radius: 10px;
    padding: 0 20px 20px 20px;
    box-shadow: 0 2px 5px rgba(3, 18, 26, 0.15);
}
.profile__message {
    margin-top: 20px;
    padding: 12px 14px;
    border-radius: 8px;
    font-size: 1.4rem;
    font-weight: 600;
}
.group-info {
    margin-top: 20px;
}
.group-info input {
    width: 100%;
    height: 43px;
    border-radius: 10px;
    padding: 0 10px;
    font-size: 1.6rem;
    border: 1px solid var(--lightGray-color);
    box-shadow: 0 2px 5px rgba(3, 18, 26, 0.15);
}
.group-info label,
.group-info i {
    font-size: 1.6rem;
    padding: 0 0 5px 10px;
    font-weight: 500;
    color: #1e3c52;
    cursor: pointer;
}
.group-info input:focus {
    outline: none;
    border: 2px solid var(--navyBlue-color);
}
.group-info-wrap {
    display: flex;
    width: 100%;
    gap: 20px;
}
.group-info-section {
    flex: 1;
    position: relative;
}

.save-info__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border-radius: 10px;
    height: 43px;
    font-size: 1.6rem;
    font-weight: bold;
    color: white;
    background-color: var(--lightGray-color);
}
.save-info__btn.active {
    background-color: #0a9af2;;
    cursor: pointer;
}
.save-info__btn.active:hover {
    filter: brightness(80%);
    cursor: pointer;
}
.save-info__btn.loading {
    cursor: wait;
    opacity: 0.8;
}
.group-info input:focus {
    outline: none;
    border: 1px solid var(--navyBlue-color);
}

.group-info input.changed {
    border: 1px solid var(--navyBlue-color);
}

.group-info input.error {
    border: 1px solid var(--error-color);
    background-color: rgba(251, 0, 0,0.25);
}

.gender-options {
    display: none;
    position: absolute;
    background-color: white;
    width: 100%;
    border: 1px solid var(--lightGray-color);
    border-radius: 10px;
    animation: slideDown 0.3s ease;
}
#gender:focus + .gender-options {
    display: block;
}
.gender-list {
    list-style: none;
    margin: 0;
    font-size: 1.6rem;   
    padding: 0;
}
.gender-item {
    padding: 10px 10px;
}
.gender-item:hover{
    cursor: pointer;
    padding: 10px 10px;
    background-color: var(--ivoryWhite-color);
}
.error-message {
    color: var(--error-color);
    font-size: 1.4rem;
    margin-top: 5px;
    padding-left: 10px;
}
